@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

body{
    background-color: #f3f5fc;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

header{
    color:#0A3871;
    display: flex;
    align-items: center;
}

.header__enlace{
    padding-top: 10px;
    margin-left: 10px;
}

.main{
    display:flex;
    margin-left: 80px;
}

.main__izquierda{
    width:70%;
    background-color: #f3f5fc;
}

.main__derecha{
    width: 30%;
    border-radius: 32px;
    background-color: white;
    margin-right: 5%;
    box-shadow: 5px 5px 15px gray;
}

.main__izquierda-texto{
    border:none;
    color: #0A3871;
    margin-top: 90px;
    text-transform: lowercase;
    resize: none;
    width:90%;
    height: 60vh;
    background-color: #f3f5fc;
}

::placeholder {
    color: #0A3871;
}

.main__izquierda-texto:focus{
    outline: none;
}

.main__izquierda-botones{
    display:flex;
    justify-content: center;
}

.main__izquierda-atencion{
    color: gray;
    margin-bottom: 10px;
}

.main__btn-encriptar, .main__btn-desencriptar{
    margin: 0 10px 0 10px;
}
/* .mensaje{
    background-color: #ffffff;
    background-image: url("../assets/images/muneco.png");
    background-repeat: no-repeat;
    border:none;
    border-radius: 24px;
    color: #0A3871;
    margin-left: 98px;
    margin-top: 20px;
    padding-left: 20px;
} */

.main__derecha-mensaje{
    width:100%;
    height: 60vh;
    resize: none;
    border: none;
    padding: 20px;
    background-color: #ffffff;
    background-image: url("../assets/images/muneco.png");
    background-repeat: no-repeat;
    border-radius: 32px;
}

.main__derecha-mensaje:focus{
    outline: none;
}

.main__izquierda-texto, .main__derecha-mensaje{
    font-size: 1.85rem;
}

.main__btn-encriptar{
    background-color: #0A3871;
    color: antiquewhite;
    width: 35vh;
    height: 7vh;
    border-radius: 24px;
    border: none;
    cursor: pointer;
}

.main__btn-encriptar:hover{
    background-color: #3c8ef9;
    border: 1px solid #0A3871;
}

.main__btn-desencriptar, .main__derecha-btn-copiar{
    background-color: #D8DFE8;
    color: #0A3871;
    width: 35vh;
    height: 7vh;
    border-radius: 24px;
    border: 1px solid #0A3871;
    cursor: pointer;
}

.main__derecha-btn-copiar{
    margin-top: 15vh;
    width:65%;
}

.main__btn-desencriptar:hover ,.main__derecha-btn-copiar:hover{
    background-color: #fff;
}

.main_derecha-contenedor{
    text-align: center;
}